Okay <%=yourname%>. How many cents do you have?

<form method="post" action="empty_pockets">
	<input type="number" name="cents" autofocus> cents
	<input type= "text" name= "user_name" value= <%=yourname%> hidden>
	<br>
	<input type ="submit"> 
</form>