<p class="text">Welcome to CoinChanger! Empty your pockets, check your sofa and I'll tell you how much money you have for vacation!
<br></p>


<form id = "input" method="post" action="getname">
	<p class = "text"> Enter name: <input id = input-box type="text" name="user_name" required autofocus></p>
	<br><br>
	<input type="submit">
</form>

<br><br>



<p style="float:left;font-size:1rem;text-align:center;width:25%;margin-right:3%;margin-bottom:.5rem;"><img src="img/dollie_glasses.jpg" style="width:80%;"> <br>"Dollie the financial guru" </img></p>



<!-- <p style="float:left;font-size:1rem;font-style:italic;text-align:center;width:35%;margin-right:18%;margin-bottom:.5rem;"><img src="img/barcelona_sign.jpg" style="width:50%;"> <br>street sign in Barcelona </img></p>

<p class="tip">Dollie says: "Have fun but always follow local laws and customs!"</p>
 -->